---
import { Icon } from 'astro-icon/components';
import { getIdFormatDate } from '../../utils/utils';

const { frontmatterData: data } = Astro.props;
---

<div class="max-w-sm rounded-lg overflow-hidden shadow-lg dark:shadow-2xl dark:bg-green-950 dark:bg-opacity-50 m-4">
  <img crossorigin="anonymous" src={data.image} alt="test" class="w-full rounded-tr-lg rounded-tl-lg" />
  <div class="px-6 py-4">
    <span class="text-sm">
      <Icon name="tabler:clock" class="w-3.5 h-3.5 inline-block -mt-0.5 dark:text-gray-400" />
      <time datetime={String(data.startingDate)} class="inline-block dark:text-gray-400"
        >{getIdFormatDate(data.startingDate)}</time
      >
      {' '}
      ·{' '}
      <span class="dark:text-gray-400">{data.category}</span>
    </span>
    <h1 class="font-bold text-xl my-2 block">{data.title}</h1>
    <p class="text-sm text-gray-400">Mentor: {data.mentor}</p>
    {
      data.isDiscount ? (
        <p class="text-gray-700 dark:text-gray-300 ">
          <span class="text-xl font-bold">Rp{data.priceAfterDisc.toLocaleString('id-ID')} </span>
          <span class="text-md line-through text-red-600">Rp{data.price.toLocaleString('id-ID')}</span>
          <span class="bg-red-300 text-sm text-red-900 p-1 rounded-md font-bold">{data.discount}%</span>
        </p>
      ) : (
        <p class="text-gray-700 dark:text-gray-300 text-xl font-bold">Rp{data.price.toLocaleString('id-ID')}</p>
      )
    }
  </div>
  <div class="px-6 py-4 pb-2 mb-4">
    {
      data.isAvailable ? (
        <a href={data.urlRegister} target="_blank">
          <button class="bg-green-800 bg-opacity-75 py-2 px-4 rounded-md text-white">Daftar Sekarang!</button>
        </a>
      ) : (
        <>
          <button
            class="bg-red-800 bg-opacity-75 py-2 px-4 rounded-md text-white hover:cursor-default"
            title="Kemungkinan kelas sedang berlangsung"
          >
            Tidak Tersedia
          </button>
        </>
      )
    }
  </div>
</div>
